$yellow:#ff0;
$yellow-light:#f8f184;
$blue:#19587D;
$white:#fff;
$black:black;
$darkgrey:rgb(147 148 150);
$contourgray:#bcbbbd;
$game-orange:#bc7232;

// Gradient Color
$gradient-white:#eddebf70;
$gradient-red:#89000970;
$gradient-red-light:rgba(255, 0, 0, 0.363);
$gradient-black:rgb(34, 34, 34);

// filtres
$yellow-filter:invert(0%) sepia(100%) saturate(1680%) hue-rotate(350deg) brightness(109%) contrast(104%);