@font-face {
    font-family: 'Rajdhani';
    src: url(./../fonts/Rajdhani-Medium.ttf);
}

@font-face {
    font-family: 'space';
    src: url(./../fonts/SpaceGrotesk-VariableFont_wght.ttf);
}

$Rajdhani:'Rajdhani';
$Space:'space';